<!-- logo -->
<h1>
	<a href="{{ 'main'|page }}" title="Artlocation"><img src="{{ 'assets/images/logo.png'|theme }}" title="Artlocation" alt="Artlocation" /></a>
</h1>
<!-- nav -->
<nav role="footer-nav">
	<ul>
		<li><a href="{{ 'main'|page }}" title="Работы">Работы</a></li>
		<li><a href="{{ 'about'|page }}" title="О нас">О нас</a></li>
		<li><a href="{{ 'blog'|page }}" title="Блог">Блог</a></li>
		<li><a href="{{ 'contact'|page }}" title="Контакты">Контакты</a></li>
	</ul>
</nav>
<!-- social -->
<ul role="social-icons">
	<li><a href="https://www.instagram.com/art_location_lr/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
	<li><a href="https://www.facebook.com/artlocationofficial/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	<li><a href="https://vk.com/art_location"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
	<li><a href="https://api.whatsapp.com/send?phone=79648981243"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
</ul>
<p class="copy-right">&copy; {{ "now"|date("Y") }} Artlocation. All rights reserved</p>