<nav role="header-nav" class="navy header-mobile">
	<ul>
		<li class="{% if this.page.id == 'main' %}active{% endif %}"><a href="index.html" title="Work">Работы</a></li>
		<li class="{% if this.page.id == 'about' %}active{% endif %}"><a href="about.html" title="About">О нас</a></li>
		<li class="{% if this.page.id == 'blog' %}active{% endif %}"><a href="blog.html" title="Blog">Блог</a></li>
		<li class="{% if this.page.id == 'contact' %}active{% endif %}"><a href="contact.html" title="Contact">Контакты</a></li>
	</ul>
</nav>

<div class="top-menu {% if this.page.id == 'main' %}top-main-menu{% endif %}">
	<a href="{{ 'main'|page }}" class="top-menu-link">Работы</a>
	<a href="{{ 'about'|page }}" class="top-menu-link">О нас</a>
	<a href="{{ 'blog'|page }}" class="top-menu-link">Блог</a>
	<a href="{{ 'contact'|page }}" class="top-menu-link">Контакты</a>
</div>

{% if this.page.id == "main" %}
    {% placeholder portfoliofilter %}
{% endif %}